form.form.main__form
    label.form__label(for="") Прибытие
    input.form__array(type="date")
    label.form__label(for="") Выезд
    input.form__array(type="date")
    label.form__label(for="") Гости
    input.form__array(type="number" value="Crjkmrj")
    |
    |
    a(href="#").form__button Подобрать номер
    p Лучшие номера для вашей работы, отдыха и просто вдохновения
