.menu.footer__menu
    h3 Навигация
    ul
        li
            |
            |
            a(href="#").menu__item О нас
            |
            |
        li
            |
            |
            a(href="#").menu__item Новости
            |
            |
        li
            |
            |
            a(href="#").menu__item Служба поддержки
            |
            |
        li
            |
            |
            a(href="#").menu__item Услуги
            |
            |
    h3 О нас
    ul
        li
            |
            |
            a(href="#").menu__item О сервисе
            |
            |
        li
            |
            |
            a(href="#").menu__item Наша команда
            |
            |
        li
            |
            |
            a(href="#").menu__item Вакансии
            |
            |
        li
            |
            |
            a(href="#").menu__item Инвесторы
            |
            |
    h3 Служба поддержки
    ul
        li
            |
            |
            a(href="#").menu__item Соглашение
            |
            |
        li
            |
            |
            a(href="#").menu__item Сообщества
            |
            |
        li
            |
            |
            a(href="#").menu__item Свзь с нами
            |
            |
    h3 Подписка
    ul
        li Получайте специальные предложения и новости сервиса
        li 
            input(type="text" placeholder="Email")