- var pageTitle = 'Landing page'

doctype html
html
  head
    meta(charset="utf-8")
    title= pageTitle
  body
    .header
      include ../images/logo.svg
      include ../blocks/header/menu/menu.pug
      include ../blocks/header/auth/auth.pug
    .content
      include ../blocks/main/form/form.pug
    .footer
      include ../blocks/footer/copyright/copyright.pug
      include ../blocks/footer/menu/menu.pug
      include ../blocks/footer/social/social.pug