header
  .header
    ul.menu
      li
        a(href='#').menu__item О нас
      li
        a(href='#').menu__item Услуги
      li
        a(href='#').menu__item Вакансии
      li
        a(href='#').menu__item Новости
      li
        a(href='#').menu__item Соглашения