- var pageTitle = 'Landing page'

doctype html
html
  head
    meta(charset="utf-8")
    title= pageTitle
  body
    .header
      include ../logo/logo.pug
      include ../menu/menu.pug
      include ../auth/auth.pug